@font-face {
  font-family: "MuseoSansCyrl";
  src: url(./data/fonts/font.woff) format("woff"),
  url(./data/fonts/font.woff2) format("woff2");
}

body,
html,
p {
  margin: 0;
  padding: 0;
  font-family: MuseoSansCyrl, sans-serif;
}

.app-wrapper {
  margin-bottom: 40px;
}

a:focus {
  outline: none;
}

.menu-header a:focus {
  border-bottom: 3px solid #02266D;
}

header {
  margin: 0;
  padding: 0px 40px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 60px;
  color: #02266D;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-header a {
  text-decoration: none;
  font-size: 15px;
  color: #02266D;
  line-height: 18px;
  text-align: center;
  padding: 0 8px 17px;
  margin-left: 28px;
}

.logo {
  position: absolute;
  top: 16px;
  left: 110px;
}

.logo img {
  width: 100%;
  height: auto;
}

.logo-mini {
  position: absolute;
  top: 15px;
  left: 155px;
}
